<head><link href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet"></head>



<div class = "base">
  <div class = "hello">
    <div class = "cardk">
      <div class = "name">
        <div class = "ctext textcontent">
            <div class = "anim">Welcome</div>
        </div>
      </div>

      <div class = "profpic">
      </div>

      <div class = "simplebio rtext">
        <div class = "name">
          <div class = "ctext textcontent">
            <div class="typewriter">
              <div class = "anim">/*Hey, I'm Brix Joshua Tanhueco*/</div>
            </div>
          </div>
        </div>
        <div class = "biobody">
           ... and I want to make a difference
        </div>
      </div>

    </div>
  </div>

  <div class = "linkrows ctext">
  <div class = "container-fluid cont">
    <div class = "row r2">
      <div class = "col-sm-4 prlinks">
        <div class = "btnshadow">
          <a href="mailto:btanhuec@ucsc.edu?subject=Mail From Portfolio">Email</a>
        </div>
      </div>
      <div class = "col-sm-4 prlinks">
        <div class = "btnshadow">
        <a href="https://github.com/btanhuec">GitHub</a>
        </div>
      </div>
      <div class = "col-sm-4 prlinks">
        <div class = "btnshadow">
        <a href="https://linkedin.com/in/brix-joshua-tanhueco">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
  </div>


  <div class = "sectiontwo">
    <div class = "name">
      <div class = "ctext textcontent">
        <div class="typewriter">
          <div class = "anim">/*Projects and Academic Achievements*/</div>
        </div>
      </div>
    </div>

    <div class = "ach">
      <div class="window">
        <div class="terminal">
          <p class="command">Brix.showEducation</p>
          <p class="speclog imp">
            <span>
              Education: 2020 University of California, Santa Cruz<br />
              Major: B.S. Computer Science <br />
              Current GPA: 3.50 <br/>
              Achievements: 3x Dean's Honors List Recipient<br />
            </span>
          </p>
          <p class="command">Brix.showExp</p>
          <p class="speclog imp">
            <span>
              Proficient in: Java, Python, C, JavaScript, HTML/CSS, Ruby<br />
              Experience in: C++, Haskell, MIPS32<br />
              Technologies used: Ruby on Rails, Firebase, SQLite, <br />
              Android Studio, Git, Unix, web2py, Vue.js, AWS databases<br / >
            </span>
          </p>
        </div>
      </div>
    </div>


    <div class = "container">
      <div class = "row">
        <div class = "col-sm-4">
          <div class = "window">
          <div class = "terminal">
            <p class = "command"> SlugLife Website </p>
            <p class="log">
              <span>
                Technologies Used: HTML/CSS, JavaScript, <br />
                Ruby on Rails Platform, PayPal API<br />
              </span>
            </p>
            <p class = "command"> Contributions: </p>
            <p class = "speclog">
              <span>
                Developed and designed all website features <br/>
                including the UI, HTML/CSS layouts,<br />
                Ruby on Rails page routing/navigation, <br/>
                database management for products,<br />
                shopping cart interaction/design, <br/>
                user/account authentication,<br />
                and BrainTree API for secure transactions.<br />
            </span>
            </p>
            <a href="https://github.com/btanhuec/Sluglife-Website">GitHub</a>

          </div>
          </div>
        </div>
        <div class = "col-sm-4">
          <div class = "window">
          <div class = "terminal">
            <p class = "command"> EasyLiving</p>
            <p class="log">
              <span>
                Technologies used: Java, JavaScript, <br />
                Firebase, SQLite, Git, Unix, Android Studio<br />
              </span>
            </p>
            <p class = "command"> Contributions: </p>
            <p class = "speclog">
              <span>
                Created an Android application <br/>
                to facilitate communication <br/>
                between housemates with the <br/>
                ability to create chores, <br />
                authenticate rent/utilities <br/>
                payments, and automatically <br/>
                split costs amongst communal<br/>
                 items with Venmo gateway.<br />
            </span>
            </p>
            <a href="https://github.com/btanhuec/EasyLiving">GitHub</a>


          </div>
          </div>
        </div>
        <div class = "col-sm-4">

          <div class = "window">
          <div class = "terminal">
            <p class = "command"> eSalon </p>
            <p class="log">
              <span>
                Technologies used: Python, web2py framework, <br />
                Vue.js, HTML/CSS,Git, Unix, GMail/Google <br />
                Calendar API <br />
              </span>
            </p>
            <p class = "command"> Contributions </p>
            <p class = "speclog">
              <span>
                 Managed the team in developing a website with <br />
                 the ability to create profiles, upload photos,<br />
                  schedule appointments with nearby barbers, <br />
                  and send confirmation emails.<br />
              </span>
            </p>
            <a href="https://github.com/btanhuec/BarberShopTanhueco">GitHub</a>

          </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class = "sectionthree abt">
    <div class = "name">
      <div class = "ctext textcontent">
          <div class = "anim">/*About Me*/</div>
      </div>
    </div>
    <div class = "ach">
      <div class="window">
        <div class="terminal">
          Words To Live By: <br />
          1.) "The problem always makes sense once you've seen the solution." - said during Computer Architecture<br />
          2.) "Be who you needed when you were younger."<br />
          3.) "The grass isn't greener on the other side, it's greener where you water it." <br />
          4.) "Work until your idols become rivals." <br />
          5.) "It is possible to commit no mistakes and still lose. That is not a weakness, that is life." -  <br />
        </div>
      </div>
    </div>

    <div class = "container-fluid">
      <div class ="row">
        <div class = "col-sm-6 rtext">
          <div class = "window">
          <div class = "leftside">
          <div class = "vid"> <iframe width="560" height="315" src="https://www.youtube.com/embed/5_FTTPgvhWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div class = "viddesc ctext"> I've loved technology for as long as I can remember. Here's a video of me reviewing an iPod touch in 2010.</div>
          </div>
          </div>
        </div>
        <div class = "col-sm-6">
          <iframe src="https://open.spotify.com/embed/user/notevenafuccboi/playlist/2HmI5LYHxvhM9WmLaoPfZA" width="100%" height="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>
    </div>

</div>
