// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ctext{
  font-family: 'Cutive Mono', monospace;
}
.oldpic{
  background-image: url(/assets/sinceiwasyoung.png);
  width:50%;
  height:400px;
}
.leftside{
  padding-top:20px;
  background: #c38d9E;
  text-align:center;
}
.viddesc{
  font-size:20px;
  color:#123C69;
  margin-left:10%;
  margin-right:10%;
}
.sectiontwo{
  width:100%;
  height:700px;
  background-image: url(/assets/trees2.jpg);

/* Full height */

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

  .name{
    background-color:rgba(0,0,0,0.3);
  }
}
.biobody{
  font-size:20px;
}
.simplebio{
  color:white;
}
.btnshadow{
  width:100%;
  padding-top:5%;
  padding-bottom:5%;

}

.prj{
  background-color:#376E6F;
  padding-bottom:200px;
  .name{
    background-color:#376E6F;
  }
}
.rtext{
  font-family: 'Roboto', sans-serif;
}
.hello{
  height:500px;
  width:100%;
}

.linkrows{
  background-color:#123C69;
  height:100px;

}
.cont{
  height:50%;
  background-color:#EEE2DC;
}

.fillmid{

}



.name{
  margin-top:30px;
  color: black;
  margin-bottom:30px;
}
.twindow{
  margin-left:50%;
  display:inline-block;
  height: 20px;
  width:50%;
  background: #b4bea7 ;
  .speclog{

  }
}

.pinfo{
  color:black;
  padding-top:10px;
}

.prlinks{
  display:inline-block;

  width:100%;
  height:100%;
  padding-top:10px;
  padding-bottom:10px;

}

.r2{
  margin: auto auto;
  text-align:center;
  background-color:#123C69;

}
a:link{
  color:#123C69;
  font-size:15pt;
  background-color:white;
  padding-left: 30%;
  padding-right:30%;
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration:none;
}
a:visited{
  color:#123C69;
}


a:hover{
  color:#123C69;
  opacity:1.0;
  font-style:italic;
}

.base{
  background-color: #EEE2DC;
  background-position:center 45%;
  background-size:cover;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
}
.cardk{
  height:500px;
  width:100%;
  text-align:center;
  background-color:#123C69;
}
.profpic{
  margin:auto;
  display:inline-block;
  background-image: url(/assets/memyself.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center 10%;
  border-radius:50%;
  position: center;
  width:200px;
  height:200px;
}

.name{
  background-color:#123C69;
  text-align:center;
  margin-top:0;
  padding-top:10px;
}



.textcontent{
  margin-left:0;
  margin-right:0;
  color:white;
  display: inline-block;
}

.cursor{
  display: inline-block;
  font-size:22pt;
}

.anim{
  font-size:30pt;
}
.year{
  color:#003E1F;
}
.typewriter .anim{
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.p h1{

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: gray; }
}

/* CSS code from online */
.window {
  border-radius: 3px;
   /* background: 	#778899;*/
   background: #c38d9E;
  color: #fff;
  overflow: hidden;
  margin: 0 0;
  width: 100%;
  height:100%;

  &:before {
    content: ' ';
    display: block;
    height: 20px;
    background: #C6C6C6;
  }

  &:after {
    content: '';
    position: absolute;
    left: 12px;
    right: 0;
    top: -3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 96px;
    color: #fff;
    line-height: 0;
    letter-spacing: -12px;
  }
}

.terminal {
  margin: 20px;
  font-family: monospace;
  font-size: 12px;
  color:#123C69;



  .command {
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation: write-command 1s both;

    &:before {
      content: '$ ';
      color: #22da26;
    }



  }

  .log {
    white-space: nowrap;
    height:70px;
    overflow: hidden;
    animation: write-log 10s both;
    p:nth-child(2) {
      animation-delay: 1s;
    }

    p:nth-child(3) {
      animation-delay: 1s;
    }
  }

  .speclog{
    text-align:center;
    white-space: nowrap;
    height:150px;
    overflow: hidden;
    animation: write-log 10s both;
    p:nth-child(2) {
      animation-delay: 1s;
    }

    p:nth-child(3) {
      animation-delay: 1s;
    }
  }
  @keyframes write-command {
    0% {
      width: 0%;
    }


    100% {
      width: 50%;
    }
  }





}
